.recommend_read_btn{
    width: 150px;
    height: 28px;
    background: #3c97cf;
    color: #ffffff;
    line-height: 28px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}
.system_message_btn{
    width: 138px;
    height: 28px;
    background: #3c97cf;
    color: #ffffff;
    line-height: 28px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    float: left;
    margin-top: 10px;
    margin-left: 28px;
    font-size: 12px;
    cursor: pointer;
}
.index{
    height: 38px;
    background: #f89d32;
    line-height: 38px;
    margin-top: 0;
    font-size: 16px;
}
.main{
    overflow: auto;
    width: 100%;
    height: 800px;
    background: #fff;
    float: left;
}
.system_message{
    display: none;
}

.list{
    width: 100%;
    height: 119px;
    padding: 6px 30px;
    border-bottom: 1px solid #e8e8e8;
    /*margin: 20px auto;*/
    position: relative;
}
.list .head-img{
    float: left;
    margin-top: 12px;

}
.list .head-img img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.list .right-content .name{
    font-size: 21px;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}
.list .right-content .tit{
    height: 20px;
    background: #eaebee;
    position: absolute;
    top: 16px;
    left: 133px;
    padding: 0 4px;
    color: #999999;
}
.list .right-content .time{
    float: right;
    margin-top: 24px;
    margin-right: 20px;
    font-size: 13px;
    color: #a8a8a8;
}
.list .right-content .cont {
    width: 600px;
    position: absolute;
    top: 56px;
    left: 184px;
    font-size: 15px;
}
.list .right-content .cont span{
    color: red;
}
.unread {
    background: #dae7ff;
}
