/*头部信息*/
#info{
    background: #fff;
    width: 770px;
    height: 1250px;
    float: left;
}
.content{
    padding: 21px 20px 0 20px;
    position: relative;
    top: 0;
}
.title h3{
    width: 90px;
    height: 36px;
    border-bottom: 4px solid #f99d32;
    font-size: 15px;
    float: left;
}
.title{
    display: inline-block;
    padding-bottom: 10px;
}
.title .down{
    width: 640px;
    height: 30px;
    margin-top: 6px;
    border-bottom: 4px solid #e8e8e8;
    float: right;
}

/*问题部分*/
#question_body {
    width: 730px;
    height: 600px;
    margin: auto;
    padding: 38px;
    position: relative;
}

.question-q {
    font-size: 16px;
    line-height: 1.5;
}

.select-option {
    margin: 5px 0;
}

.btn-part {
    position: absolute;
    width: 654px;
    bottom: 30px;
    text-align: center;
}

#question_body .btn {
    background: #fb9e1d;
    color: #ffffff;
    margin: 20px;
    width: 96px;
}
#question_body .btn:hover {
    color: #ffffff;
}

.progress {
    top: -10px;
    width: 640px;
    height: 10px;
}

#finish_test, #has_done {
    font-size: 16px;
    line-height: 2;
    position: relative;
    text-align: center;
}

#finish_test div:nth-child(2), #has_done div:nth-child(2) {
    position: absolute;
    top: 36px;
    left: 274px;
    width: 100px;
    color: #ffffff;
    z-index:10;
}

#has_done div:nth-child(3) {
    text-align: left;
}
