/*未做测试*/
.first {
    text-align: center;
}
.test-info {
    text-align: left;
    width: 80%;
    margin: 30px auto 0 auto;
    line-height: 30px;
    font-size: 16px;
}
.test-info p {
    margin: 10px;
}

/*头部信息*/
#info{
    background: #fff;
    width: 770px;
    height: 1250px;
    float: left;
}
.content{
    padding: 21px 20px 0 20px;
    position: relative;
    top: 0;
}

.title{
    color: #3c97cf;
    display: inline-block;
    padding-bottom: 10px;
    float: left;
}
.line-left {
    float: left;
    width: 20%;
    border: 2px solid #3c97cf;
    margin-bottom: 5px;
}
.line-right {
    float: right;
    width: 80%;
    border: 2px solid #75c1f0;
    margin-bottom: 5px;
}
.info-account{
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

/*问题部分*/
#question_body {
    width: 730px;
    height: 714px;
    margin: auto;
    /*padding: 20px;*/
    position: relative;
}

.question-q {
    /*margin-top: 30px;*/
    font-size: 16px;
    line-height: 1.5;
}

.select-option {
    margin: 10px 0;
    padding: 4px 0 4px 10px;
    /*margin: 5px 10px 5px 15px;*/
    background: #d3eefe;
    color: #000000;
}

.selectable {
    cursor: pointer;
}
.selectable:hover {
    color: #FFFFFF;
    background: #7abce4;
}

.option-selected {
    color: #FFFFFF;
    background: #7abce4;
}

.btn-part {
    position: absolute;
    width: 730px;
    bottom: 30px;
    text-align: center;
}

#question_body .btn {
    background: #3c97cf;
    color: #ffffff;
    margin: 30px 10px 0 10px;
    width: 96px;
}
#question_body .btn:hover {
    color: #ffffff;
}

.submit-message {
    color: darkgrey;
}

.progress {
    top: 27px;
    width: 712px;
    height: 10px;
}

#finish_test, #has_done {
    font-size: 16px;
    line-height: 2;
    position: relative;
    text-align: center;
}

#finish_test p, #has_done div {
    text-align: left;
    width: 80%;
    margin: 30px auto 0 auto;
}

/*#finish_test div:nth-child(2), #has_done div:nth-child(2) {*/
    /*position: absolute;*/
    /*top: 36px;*/
    /*left: 274px;*/
    /*width: 100px;*/
    /*color: #ffffff;*/
    /*z-index:10;*/
/*}*/

#has_done div:nth-child(3) {
    text-align: left;
}

/*倒计时*/
#counter {
    font-size: 16px;
    border: 1px solid #3d98d0;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    height: 87px;
    padding: 8px;
    margin: 15px auto;

    position: relative;
}

#counter img {
    position: absolute;
    top: 35px;
    left: 18px;
}

#counter .digital {
    position: absolute;
    font-size: 32px;
    color: #ffffff;
}

#counter .min1 {
    left: 20px;
}
#counter .min2 {
    left: 44px;
}
#counter .sec1 {
    left: 85px;
}
#counter .sec2 {
    left: 109px;
}