html{
    overflow: scroll;
}
#task{
    background: #fff;
    width: 770px;
    height: 1250px;
    float: left;
}
.content{
    padding:21px 20px;
    position: relative;
    top: 0px;
}
.title h3{
    width: 81px;
    height: 36px;
    border-bottom: 4px solid #f99d32;
    font-size: 15px;
    float: left;
}
.title{
    display: inline-block;
    padding-bottom: 30px;
}
.title .down{
    width: 649px;;
    height: 30px;
    margin-top: 6px;
    border-bottom: 4px solid #cccccc;
    float: right;
}
.seek .frame{
    margin-top: 15px;
}
.seek .frame input{
    width: 398px;
    height: 42px;
    border: 1px solid #f99d32;
    float: left;
}
.seek .button input{
    background: #f99d32;
    border: none;
    padding: 11px 18px;
    font-size: 14px;
    color: #ffffff;
    cursor:pointer;
}
.seek .add-task {
    float: right;
    margin-right: 3px;
    width: 98px;
    height: 40px;
    border: 1px solid #f99d32;
    border-radius: 6px;
}

.seek .add-task p{
    line-height: 40px;
    padding-left: 10px;
    color: #f99d32;
}
.seek .add-task p img{
    margin-right: 6px;
    padding-bottom: 3px;
}
/*选择班级的css*/
.content .class-name{
    width: 728px;
    height: 78px;
    line-height: 78px;
    border: 1px solid #e8e8e8;
    background: #f9f9f9;
    margin-top: 30px;
}
.content .class-name p{
    font-size: 18px;
    margin-left: 15px;
}
.content .class-name p span{
    border: 1px solid #f99d32;
    border-radius: 8px;
    font-size: 16px;
    padding: 7px 10px;
    margin-left: 18px;
}
.content .class-name p .index{
    padding: 6px 26px;
    color: #FFFFFF;
    background: #f99d32;
}
/*学生个人具体信息*/
.information {
    width: 728px;
    height: 920px;
    border: 1px solid #e8e8e8;
    margin-top: 20px;
    background: #f9f9f9;
}
.information .head{
    width: 726px;
    height: 36px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
    border-bottom: 1px dashed #f99d32;
}
.information .head li{
    float: left;
    margin-left: 68px;
}
.information .head li:nth-of-type(5){
    margin-left: 114px;
}
.information ul{
    font-size: 16px;
    height: 44px;
    padding: 0 36px;
}
.information ul li{
    float: left;
    color: #000000;
    line-height: 44px;
    width: 100px;
    text-align: center;
}
.information ul li:nth-of-type(4){
    width: 140px;
}

/*点击查看学生信息的弹窗*/
.modal-body{
    width: 620px;
    height: 460px;
    background: #f9f9f9;
    position: absolute;
    top: -110px;
    left: 0px;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 8px;
}
.out{
    cursor: pointer;
    float: right;
}
.modal-body form{
    margin-left: 170px;
    margin-top: 50px;
}
.modal-body form p{
    margin-top: 20px;
}
.modal-body form p input{
    width: 200px;
    height: 40px;
    text-align: center;
    margin-left: 70px;
}
.modal-body form .time input{
    margin-left: 46px;
}
.modal-body form p select{
    margin-left: 46px;
    width: 200px;
}
.modal-body form .initial{
    color: #b6b6b6;
}
.modal-body form .initial span{
    margin-left: 117px;
}
.modal-body form .sex input{
    width: 16px;
    height: 16px;
}
.modal-body form .submit{
    width: 150px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    background: #f99d32;
    border-radius: 8px;
    margin-top: 46px;
    margin-left: 50px;
    cursor: pointer;
}







/*分页部分*/
a:hover{ text-decoration:none;}
.tcdPageCode{padding: 30px 20px;text-align: left;color: #f99d32;position: absolute;top: 1080px;left: 160px}
.tcdPageCode a{display: inline-block;color: #f99d32;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #f99d32;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #f99d32;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #f9f9f9;background-color: #f99d32;	border: 1px solid #f99d32;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #f99d32;background: #f9f9f9;border: 1px solid #f99d32;border-radius: 4px;vertical-align:middle;}
























