.delete-comment img {
    cursor: pointer;
    float: right;
}

/*评论模块*/
.comment {
    /*height: 100px;*/
    margin: 10px;
    /*border-bottom: 1px solid #e8e8e8;*/
}

.comment div {
    float: left;
}

.comment .comment-img{
    display:inline-block;
    position:relative;
    width:80px;
    height:80px;
    overflow:hidden;
    border-radius:50%;

    margin: 5px 5px 13px 5px;
}

.comment .comment-img img{
    width:auto;
    height:100%;
    /*margin-left:-30%;*/
}

.comment-content {
    padding: 5px;
    margin-left: 10px;
    width: 590px;
    font-size: 14px;
    height: 160px;
    position: relative;
}

#comment_container {
    margin: 10px 0;
    /*height: 360px;*/
    overflow: auto;
}

.comment-content .comment-date {
    float: right;
    color: #999999;
    font-size: 12px;
    left: 515px;
    top: 130px;
    position: absolute;
}

.comment-content h3 {
    float: left;
    color: #fb9e1d;
    margin-bottom: 5px;
}

.like-option {
    /*width: 500px;*/
    float: right;
    position: absolute;
    right: 8px;
}

.like {
    float: right;
    /*margin-left: 465px;*/

}

.like-count {
    margin-top: 5px;
    width: 25px;
    float: right;
    text-align: center;
}

.comment-content p {
    clear: both;
}

.book-comment textarea {
    border: none;
    width: 660px;
    height: 100px;
    margin-left: 35px;
    padding: 10px;
}

.book-comment #submit_comment {
    margin: 10px 0 0 613px;
    background: #fb9e1d;
    color: #ffffff;
}