.txt-reader {
    position: relative;
    text-align: left;
    margin: auto;
    /*border: solid 1px #e8e8e8;*/
    background-color: rgb(245,245,245);
    /*overflow: hidden;*/
}

.txt-reader .tool_bar {
    width: 100%;
    height: 60px;
    padding: 10px;
    /*background-color: rgb(245,245,245);*/
}

.txt-reader .tool_bar div {
    float: right;
    height: 40px;
    font-size: 18px;
}

.txt-reader hr {
    margin: 0 20px;
    border-bottom: #000 solid 1px;
}

.txt-reader .reader-content {
    width: 100%;
    font-size: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
    /*overflow: auto;*/
    padding: 0 20px;
    margin: 20px 0;
}
.txt-reader .reader-content::-webkit-scrollbar {
    /*display: none;*/
    width: 5px;
}
.txt-reader .reader-content::-webkit-scrollbar-thumb {
    border-radius: 2px;
    height: 100px;
    background: rgba(0,0,0,0.1);
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}

.txt-reader .right-tool-bar {
    position: absolute;
    /*background: #000;*/
    width: 55px;
    /*height: 50px;*/
    top: 60px;
    right: -55px;
    font-size: 16px;
}

.txt-reader .right-tool-bar .right-button {
    width: 55px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    background: #3c97cf;
    color: #ffffff;
}
/*.txt-reader .right-tool-bar .right-button:hover {*/
    /*background: #3c97cf;*/
    /*color: #ffffff;*/
/*}*/

.txt-reader .reader-wrapper {
    overflow: hidden;
    position: relative;
}

.txt-reader .slide-menu {
    position: absolute;
    width: 600px;
    background: #fbfaf8;
    transition: 0.7s;
    /*z-index: 10;*/
    top: 0;
    right: -603px;
    /*right: 0;*/

    padding: 40px;
    box-shadow: #d5d5d5 -3px 0 3px;
}

.txt-reader .slide-menu div {
    border-bottom: 1px dotted grey;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
}
.txt-reader .slide-menu div:hover {
    color: #fb9e1d;
}

.option-small {
    font-size: 16px;
    cursor: pointer;
}
.option-medium {
    font-size: 20px;
    cursor: pointer;
}
.option-large {
    font-size: 24px;
    cursor: pointer;
}

.popover-content {
    text-align: center;
}

.popover-content hr {
    margin: 10px 0;
}

.color-panel {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    float: left;
    margin: 0 5px 10px 5px;
}
.color-grey {
    background: rgb(245, 245, 245);
}
.color-green {
    background: rgb(204, 242, 207);
}
.color-yellow {
    background: rgb(252, 254, 190);
}
.color-multiple {
    background: url(../img/colorchoose.png) no-repeat;
}

.color-choose-div {
    display: none;
    position: fixed;
    z-index: 2;
    background: url(../img/color.png) no-repeat;
    height: 430px;
    width: 430px;
}

/*内部文本样式*/
.reader-content p {
    /*font-size: ;*/
    width: 100%;
    word-break:break-all;
    line-height: 170%;
}

.reader-content p::selection {
    background: #777777;
    color:#fff;
}

.reader-content p::-moz-selection {
    background: #777777;
    color:#fff;
}

.select-pop {
    position: fixed;
    display: none;

    padding: 10px 10px 5px 10px;
    border: solid 1px #e8e8e8;
    background: #EEEEEE;
    border-radius: 3px;
}
