#password{
    background: #fff;
    width: 770px;
    height: 1250px;
    float: left;
}
.content{
    padding:21px 20px;
    position: relative;
    top: 0px;
}
.title h3{
    width: 81px;
    height: 36px;
    border-bottom: 4px solid #f99d32;
    font-size: 15px;
    float: left;
}
.title{
    display: inline-block;
    padding-bottom: 30px;
}
.title .down{
    width: 649px;;
    height: 30px;
    margin-top: 6px;
    border-bottom: 4px solid #cccccc;
    float: right;
}
.change-password{
    width: 728px;
    height: 498px;
    border: 1px solid #e8e8e8;
    background: #f9f9f9;
    position: relative;
}
.change-password form{
    margin-top: 70px;
    margin-left: 204px;
}
.change-password form p{
    margin-top: 40px;
}

.change-password form .old-pw{
    position: relative;
}
.change-password form .old-pw span{
    position: absolute;
    top: 58px;
    left: 84px;
    color: red;
    font-size: 12px;
}
.change-password form label{
    width: 318px;
    height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: normal;
    line-height: 48px;
    font-size: 16px;
    background: url("../../../img/student/password/password.png") no-repeat 15px 15px ;
}
.change-password form input{
    height: 48px;
    width: 318px;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    padding-left: 46px;
}

.change-password form .set-pw{
    position: relative;
}
.change-password form .set-pw span{
    position: absolute;
    top: 58px;
    left: 84px;
    color: red;
    font-size: 12px;
}
.change-password form .sure-pw{
    position: relative;
}
.change-password form .sure-pw span{
    position: absolute;
    top: 58px;
    left: 84px;
    color: red;
    font-size: 12px;
}
.prompt{
    color: #a0a0a0;
    font-size: 12px;
    position: absolute;
    top: 324px;
    left: 217px;
}
.submit{
    width: 150px;
    height: 46px;
    position: absolute;
    top: 380px;
    left: 285px;
    background: #f99d32;
    color: #FFFFFF;border:none;border-radius: 10px;
    
}






















