a:hover{
    text-decoration:none;
}
.tcdPageCode{
    padding: 55px 20px;
    color: #f99d32;
    clear: both;
    text-align: center;
}
.tcdPageCode a{
    display: inline-block;
    color: #f99d32;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    border: 1px solid #f99d32;
    margin: 0 2px;
    border-radius: 4px;
    vertical-align: middle;
}
.tcdPageCode a:hover{
    text-decoration: none;
    border: 1px solid #f99d32;
}
.tcdPageCode span.current{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #f9f9f9;
    background-color: #f99d32;
    border: 1px solid #f99d32;
    border-radius: 4px;
    vertical-align: middle;
}
.tcdPageCode span.disabled{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 2px;
    color: #f99d32;
    background: #f9f9f9;
    border: 1px solid #f99d32;
    border-radius: 4px;
    vertical-align:middle;
}
.tcdNumber, .tcdPageCode span.current {
    width: 40px;
    text-align: center;
}