body {
    background: url(../../img/student/background.png) no-repeat;
}

.main-container {
    width: 1135px;
    margin: 0 auto -70px auto;
    padding: 65px 50px 15px 50px;
    background-color: rgba(116, 178, 194, 0.2);
}

.content{
    background: #ffffff;
    padding:21px 20px;
    width: 770px;
    position: relative;
    top: 0;
    float: right;
}
.student-info {
    position: relative;
    float: left;
    width: 230px;
    height: 310px;
    border-radius: 10px;
    margin-right: 30px;
    font-size: 16px;
    text-align: center;
    background: #ffffff;
}

.head-img {
    margin: 40px auto 10px auto;
    width: 80px;
    height: 80px;
}

.head-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.certi-img {
    display: none;
    top: 30px;
    left: 59px;
    position: absolute;
}

.info-school {
    color: #999999;
    height: 45px;
}
.info-class{
    cursor: pointer;
}
.info-certification img {
    margin-top: -4px;
}

.own-class-info {
    display: none;
    margin: 60px auto 0 2px;
    padding-bottom: 20px;
    width: 210px;
    background: #ffffff;
    border-radius: 11px;
}

.own-class-info img{
    margin-left: -80px;
}

.own-class-info .class_elem {
    color: #999999;
    margin-top: 20px;
}

.no-class {
    margin: 80px auto 0 auto;
}

.no-class div {
    color: #999999;
    margin-top: 10px;
}
#my_tip_modal #modal_confirm_button, #my_tip_modal #modal_quit {
    background: #3c97cf;
    color: #ffffff;
    margin: auto 10px;
}

/*加入班级模态框*/
#join_class_modal {
    text-align: center;
}
#join_class_modal .btn {
    width: 250px;
    color: #ffffff;
    background: #3c97cf;
    margin-top: 5px;
}
#join_class_modal .btn:hover {
    color: #ffffff;
}
#join_class_modal .modal-content {
    position: relative;
    height: 300px;
}
#class_code {
    width: 250px;
    height: 34px;
    border: solid 1px #999999;
    border-radius: 5px;
    padding: 3px;
    font-size: 14px;

    margin: 20px 0;
}
#join_class_modal .modal-avatar {
    width: 80px;
    height: 80px;
    margin: 30px auto 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
#join_class_modal .modal-avatar img {
    width: 80px;
    height: 80px;
}
#join_class_modal .close-modal {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
#join_class_modal .modal-info div:nth-child(5) {
    text-align: right;
    color: red;
    width: 250px;
    margin: auto;
    font-size: 12px;
    height: 17px;
}

.first_comein{
    float: right;
    width: 482px;
    height: 990px;
    background: #f9f9f9;
    margin-top: 30px;
    border: 20px solid #fff;
    text-align: center;
}
.first_comein .img{
    margin-bottom: 40px;
}
.first_comein p{
    color: #fb9e1d;
    margin-top: 20px;
}
#go_library{
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background: #fb9e1d;
    border-radius: 8px;
    margin-left: 154px;
    margin-top: 50px;
    cursor: pointer;
}