.main{
    height: 600px;
    background: #ffffff;
    float: left;
    width: 100%;
    padding: 40px;
}
.feedback{
    width: 138px;
    height: 28px;
    background: #3c97cf;
    color: #ffffff;
    line-height: 28px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    float: left;
    font-size: 12px;
    margin-top: 10px;
    cursor: pointer;
}
.handbook{
    width: 138px;
    height: 28px;
    background: #3c97cf;
    color: #ffffff;
    line-height: 28px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    float: left;
    margin-top: 10px;
    margin-left: 28px;
    font-size: 12px;
    cursor: pointer;
}
.index{
    height: 38px;
    background: #f89d32;
    line-height: 38px;
    margin-top: 0px;
    font-size: 16px;
}
.main .suggestion{
    text-align: center;
    margin-top: 30px;
}
.main .suggestion textarea{
    width: 380px;
    height: 170px;
    border-radius: 10px;
    border: 1px solid #e8e8e8;
    padding-left: 10px;
}
.main .suggestion span{
    font-size: 18px;
    vertical-align:top;
}
.main .phone{
    margin: 30px 0 0 110px;
}
.main .phone input{
    width: 250px;
    height: 38px;
    border-radius: 8px;
    border: 1px solid #e8e8e8;
    padding-left: 10px;
}
.main .phone span{
    font-size: 18px;
    vertical-align: middle;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:#999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#999;
}
.button{
    width: 110px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    background: #f99d32;
    text-align: center;
    margin: 50px auto;
    cursor: pointer;
}














