/*图书摘要信息部分*/
.book-info-box {
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    height: 250px;
    margin-bottom: 20px;
    position: relative;
    top: 0px;
}

.book-info-box .book-image {
    width: 150px;
    margin: 20px 20px;
    float: left;
    text-align: center;
}

.book-info-box .book-image p {
    background: #fb9e1d;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: 12px 4px;
    width: 140px;
    text-align: center;
}

.book-info-box .book-info {
    width: 450px;
    margin: 25px 40px;
    float: left;
}

.book-info-box .book-info table {
    float: left;
    font-size: 16px;
    margin: 20px 0;
}

.book-info-box .book-info table tbody tr td{
    height: 40px;
    padding-right: 70px;
}

.book-info-box .book-info table tbody tr td span{
    color: #afafaf;
}

/*文章详细信息部分*/
.book-detail-box {
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    height: 800px;
    font-size: 16px;
}

.book-detail-box .nav-bar {
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
}

.book-detail-box .nav-bar .nav-button{
    width: 50%;
    height: 50px;
    background: #fb9e1d;
    float: left;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer;
}

.book-detail-box .nav-bar .nav-button img {
    margin: 12px 0 0 150px;
    float: left;
}

.book-detail-box .nav-bar .nav-button div {
    padding-top: 12px;
    padding-left: 10px;
    float: left;
    color: #000000;
}

.book-detail-box .book-detail-content {
    padding: 20px;
}

.book-detail-box .book-detail-content p {
    line-height: 150%;
}

/*评论模块*/
.comment {
    /*height: 100px;*/
    margin: 10px;
    /*border-bottom: 1px solid #e8e8e8;*/
}

.comment div {
    float: left;
}

.comment .comment-img{
    display:inline-block;
    position:relative;
    width:80px;
    height:80px;
    overflow:hidden;
    border-radius:50%;

    margin: 5px 5px 13px 5px;
}

.comment .comment-img img{
    width:auto;
    height:100%;
    margin-left:-30%;
}

.comment-content {
    padding: 5px;
    margin-left: 10px;
    width: 600px;
    font-size: 14px;

}

.comment-content h3 {
    float: left;
    color: #fb9e1d;
    margin-bottom: 5px;
}

.like {
    float: left;
    margin-left: 480px;
}

.like-count {
    margin-top: 5px;
    width: 25px;
    text-align: right;
}

.comment-content p {
    clear: both;
}

.comment-content .comment-date {
    float: right;
    color: #999999;
    font-size: 12px;
}

.book-comment textarea {
    border: none;
    width: 660px;
    height: 100px;
    margin-left: 35px;
    padding: 10px;
}

.book-comment #submit_comment {
    margin: 10px 0 0 613px;
    background: #fb9e1d;
    color: #ffffff;
}

/*模态框*/
.modal-footer div {
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: -7px;
}

.modal-footer div:nth-child(1) {
    background: #fb9e1d;
    margin-left: 115px;
}

.modal-footer div:nth-child(3) {
    background: #776c60;
    margin-left: 10px;
}

.tcdPageCode {
    padding-top: 250px;
}



























