/*返回按钮*/
.return-button {
    margin: -15px 0 0 675px;
    background: #fb9e1d;
    color: #ffffff;
}

.return-button p {
    color: #ffffff;
}

/*图书摘要信息部分*/
.book-info-box {
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    height: 250px;
    margin-top: 5px;
    margin-bottom: 20px;
    position: relative;
    top: 0;
}

.book-info-box .book-image {
    width: 150px;
    height: 190px;
    margin: 20px 20px 0 20px;
    float: left;
    text-align: center;
}

.book-info-box p {
    background: #fb9e1d;
    border: solid 1px #fb9e1d;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    margin: -10px 0 0 24px;
    width: 140px;
    text-align: center;
    float: left;
}
.book-info-box p:hover {
    color: #ffffff;
}

.book-info-box .book-info {
    width: 450px;
    margin: 25px 40px 0 0;
    float: left;
}

/*文章详细信息部分*/
.book-detail-box {
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    height: 800px;
    font-size: 16px;
}


/*nav_bar*/
.book-detail-box .nav-bar {
    height: 50px;
    border-bottom: 1px solid #e8e8e8;
}

.book-detail-box .nav-bar .nav-button{
    cursor: pointer;
    width: 33.33%;
    height: 50px;
    background: #fb9e1d;
    float: left;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    position: relative;
    padding-top: 12px;
}

.book-detail-box .nav-bar .nav-button:not(:first-child) {
    border-left: 1px solid #e8e8e8;
}

.book-detail-box .nav-bar .nav-button img {
    margin-right: 10px;
}

.btn-content-wrapper {
    text-align: center;
}

.book-detail-box .nav-bar .nav-button div {
    padding-top: 12px;
    padding-left: 10px;
    float: left;
    color: #000000;
}

/*文章内容简介*/
.book-detail-box .book-detail-content {
    padding: 20px;
}

.book-detail-box .book-detail-content p {
    line-height: 150%;
}

/*学生阅读情况部分*/
#student_part {
    display: none;
}

#overall_info {
    padding: 15px;
}

#grade_selector {
    float: left;
    width: 150px;
    padding: 5px 5px;
    border: solid 1px #e8e8e8;
    border-radius: 5px;
}

#read_count {
    float: right;
    height: 30px;
    background: #d32e2e;
    text-align: center;
    color: #ffffff;
    margin-top: 2px;
    padding: 3px 10px;
}

/*学生信息表格*/
.student-info-part table thead {
    font-size: 16px;
    border-bottom: 1px dotted #fb9e1d;
    text-align: center;
}

.student-info-part table tbody {
    border-bottom: 1px dotted #fb9e1d;
    text-align: center;
}

.student-info-part table thead tr td {
    padding: 15px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.student-info-part table tbody tr {
    height: 60px;
}

.student-info-part table tbody tr td {
    padding: 15px 15px;
    text-align: center;
    height: 60px;
}

.student-info-part table thead tr td:first-child {
    width: 118px;
}
.student-info-part table thead tr td:nth-child(2) {
    width: 120px;
}
.student-info-part table thead tr td:nth-child(3) {
    width: 170px;
}
.student-info-part table thead tr td:nth-child(4) {
    width: 120px;
}
.student-info-part table thead tr td:nth-child(5) {
    width: 110px;
}
.student-info-part table thead tr td:nth-child(6) {
    width: 100px;
}


.student-info-part table tbody tr td:first-child {
    width: 118px;
}
.student-info-part table tbody tr td:nth-child(2) {
    width: 120px;
}
.student-info-part table tbody tr td:nth-child(5) {
    width: 110px;
}
.student-info-part table tbody tr td:nth-child(6) {
    width: 100px;
}

.progress-message{
    float: left;
    text-align: left;
    width: 140px;
    font-size: 12px;
    position: static;
    color: #a8a8a8;
}

.progress-part .progress-message:last-child {
    text-align: center;
    width: 140px;
}

.progress-part {
    padding: 0;
}

.progress {
    position: static;
    border: 1px solid #febc3c;
    margin-bottom:0;
}

/*分页部分*/
#comment_pagination {
    padding-top: 131px;
}

#student_pagination {
    padding-top: 60px;
}

#comment_container {
    height: 550px;
}