#library{
    background: #fff;
    width: 770px;
    height: 1250px;
    float: left;
}
.content{
    padding:21px 20px;
    position: relative;
    top: 0px;
}
.title h3{
    width: 81px;
    height: 36px;
    border-bottom: 4px solid #f99d32;
    font-size: 15px;
    float: left;
}
.title{
    display: inline-block;
    padding-bottom: 30px;
}
.title .down{
    width: 649px;;
    height: 30px;
    margin-top: 6px;
    border-bottom: 4px solid #cccccc;
    float: right;
}
.seek .frame{
    margin-top: 15px;
}
.seek .frame input{
    width: 398px;
    height: 42px;
    border: 1px solid #f99d32;
    float: left;
}
.seek .button input{
    background: #f99d32;
    border: none;
    padding: 11px 18px;
    font-size: 14px;
    color: #ffffff;
    cursor:pointer;
}
/*图书分类部分*/
.book{
    width: 728px;
    border: 1px solid #e8e8e8;
    margin-top:30px;
    position: relative;
}
.book .sort{
    border-bottom: 1px dashed #d8d8d8;
    padding-bottom: 22px;
    background: #f9f9f9;
}
.book .sort p{
    font-weight: bold;
    font-size: 18px;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 70px;
}
.book .sort span{
    width: 78px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #f99d32;
    border-radius: 10px;
    /*padding: 5px 24px;*/
    margin-top: 24px;
    margin-left: 14px;
    display: inline-block;
    font-family: "Microsoft YaHei", serif;
    cursor:pointer;
}
.book .sort .w{
    width: 115px;
}
.book .grade p{
    font-weight: bold;
    font-size: 18px;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 70px;
}
.book .grade span{
    width: 96px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border: 1px solid #f99d32;
    border-radius: 10px;
    margin-top: 24px;
    margin-left: 14px;
    display: inline-block;
    font-family: "Microsoft YaHei", serif;
    cursor:pointer;
}
.book .grade {
    padding-bottom: 27px;
    border-bottom: 1px dashed #e8e8e8;
    background: #f9f9f9;
}

.book .read-lv{
    height: 60px;
    background: #f9f9f9;
}
.book .read-lv p{
    float: left;font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
    margin-left: 15px;
}
.book .read-lv .box {
    float: left;
    margin: 15px ;
}
.book .read-lv .box input{
    width: 78px;
    height: 28px;
    border: 1px solid #f99d32;
    border-radius: 8px;
}
.book .read-lv .button{
    padding-top: 15px;

}
.book .read-lv .button input{
    width: 58px;
    height: 28px;
    background: #ffffff;
    border-radius: 8px;
    border: 1px solid #f99d32;
    margin-left: 10px;
}
.book .read-lv .button .submit{
    background: #f99d32;
    color: #ffffff;
}
.book .read-lv .button .del{
    background: #ffffff;
}
/*下半部图书列表内容*/
.books{
    width: 728px;
    height: 700px;
    border: 1px solid #e8e8e8;
    background: #f9f9f9;
    margin-top: 20px;
}
.books .statistics{
    height: 48px;
    line-height: 48px;
    padding-left: 15px;
    font-size: 19px;
    color: #f99d32;
    font-weight: bold;
    border-bottom: 1px solid #e8e8e8;
}
/*图书列表部分*/
.list{
    margin-top:11px;
    float: left;
}
.list .list-book{
    margin-top:17px;
    margin-left: 14px;
    margin-right: 8px;
    position: relative;
    top: 0;
    font-family: "Microsoft YaHei", serif;
    box-shadow:2px 2px 2px #ccc;
}
.list .list-book .already-reading{
    width: 156px;
    height: 32px;
    background: #febc3c;
    position: absolute;
    top: 92px;
    left: 0px;
    color: #ffffff;
    line-height: 32px;
    text-align: center;
}
.list .list-book .image {
    width: 156px;
    height: 256px;
    border: 1px solid #e8e8e8;
    padding: 15px 13px 30px 16px ;
    background: #ffffff;
}
.list .list-book .image img{
    cursor:pointer;
    width: 122px;
    height: 172px;
}
.list .list-book .image span {
    position: absolute;
    top: 160px;
    left: 91px;
    width: 48px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #f99d32;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}
.list .list-book .book-name{
    text-align: center;
    margin-top: 13px;
    font-size: 13px;
    font-weight: bold;
    cursor:pointer;
}
.list .list-book .type{
    position: absolute;
    top: 232px;
    left: 16px;
    font-size: 12px;
    color: #999999;
    cursor:pointer;
}
.list .list-book p{
    position: absolute;
    top: 232px;
    left: 118px;
    font-size: 12px;
    color: #f99d32;
    cursor:pointer;
}


/*分页部分*/
a:hover{ text-decoration:none;}
.tcdPageCode{padding: 15px 20px;text-align: left;color: #f99d32;position: absolute;top: 1140px;left:160px;}
.tcdPageCode a{display: inline-block;color: #f99d32;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #f99d32;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #f99d32;}
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #f9f9f9;background-color: #f99d32;	border: 1px solid #f99d32;border-radius: 4px;vertical-align: middle;}
.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #f99d32;background: #f9f9f9;border: 1px solid #f99d32;border-radius: 4px;vertical-align:middle;}


















