.nav-part {
    margin: -20px -20px 20px -20px;
    height: 40px;
}

.nav-part div {
    width: 50%;
    float: left;
    text-align: center;

    height: 40px;
    font-size: 16px;

    line-height: 40px;

    cursor: pointer;
}

.nav-part .selected {
    background: #8176c8;
    color: #ffffff;
}

.nav-part .unselected {
    color: #44435b;
    background: #EEEEEE;
}

/*选择班级部分*/
.select-part {
    clear: both;
    /*margin-top: 55px;*/
    margin-bottom: 15px;
    height: 100%;

    font-size: 18px;
    font-weight: bold;
}

.select-part table {
    width: 100%;
}

.select-part td {
    padding-left: 10px;
    min-height: 58px;
}

.select-title {
    /*width: 120px;*/
    vertical-align: top;
    min-height: 60px;
    padding: 10px;
}
.select-part tr:not(:last-child) {
    border-bottom: dotted 1px #d8d8d8;
}

.select-part span {
    display: inline-block;
    margin: 10px;
    /*height: 28px;*/
}
.select-class {
    width: 600px;
}

.option  {
    background: #ffffff;
    color: #6e6e6e;
    border: solid 1px #8176c8;
    padding: 2px 10px;
    margin-left: 14px;

    font-size: 16px;
    font-weight: normal;
    border-radius: 6px;

    cursor: pointer;
}

.index {
    background: #8176c8;
    color: #ffffff;
}

/*班级信息展示部分*/
.class-info {
    height: 700px;
}

.class-info td{
    font-size: 16px;
    padding: 10px;
    text-align: center;
}

.class-info table {
    width: 100%;
}

.class-info div:nth-child(2) {
    height: 600px;
    width: 100%;
    border-top: 1px dotted #97a9c8;
    border-bottom: 1px dotted #97a9c8;
    overflow: auto;
}

/*班级详情表格*/
.class-info thead {
    font-weight: bold;
}
.class-info thead td:first-child {
    width: 168px;
}
.class-info thead td:nth-child(2) {
    width: 120px;
}
.class-info thead td:nth-child(3) {
    width: 120px;
}
.class-info thead td:nth-child(4) {
    width: 170px;
}
.class-info thead td:nth-child(5) {
    width: 150px;
}

.class-info div:nth-child(2) td:first-child {
    width: 168px;
}
.class-info div:nth-child(2) td:nth-child(2) {
    width: 120px;
}
.class-info div:nth-child(2) td:nth-child(3) {
    width: 120px;
}
.class-info div:nth-child(2) td:nth-child(4) {
    width: 170px;
}
.class-info div:nth-child(2) td:nth-child(5) {
    width: 150px;
}

.class-info .btn {
    float: right;
    color: #ffffff;
    background: #8176c8;
    margin: 10px 30px;
}
.class-info .btn:hover {
    color: #ffffff;
}