#problem{
    background: #fff;
    width: 770px;
    height: 1250px;
    float: left;
}
.head{
    padding:21px 20px;
    position: relative;
    top: 0px;
}
.title h3{
    width: 81px;
    height: 36px;
    border-bottom: 4px solid #f99d32;
    font-size: 15px;
    float: left;
}
.title{
    display: inline-block;
}
.title .down{
    width: 649px;;
    height: 30px;
    margin-top: 6px;
    border-bottom: 4px solid #cccccc;
    float: right;
}
#problem .nav{
    width: 198px;
    height: 998px;
    border: 1px solid #e8e8e8;
    background: #f9f9f9;
    margin-left: 20px;
    float: left;
}
.nav .student .problem{
    height: 49px;
    line-height: 49px;
    border-bottom: 1px solid #e8e8e8;
    font-weight: 600;
    font-size: 17px;
}
.nav img{
    margin-left: 10px;
}
.student .way{
    background: #f99d32;
    color: #FFFFFF;
}
.nav .way{
    height: 49px;
    line-height: 49px;
    border-bottom: 1px solid #e8e8e8;
    font-weight: normal;
    font-size: 14px;
    padding-left: 16px;
}
.teacher{
    height: 49px;
    line-height: 49px;
    border-bottom: 1px solid #e8e8e8;
    font-weight: 600;
    font-size: 17px;
}

#problem .content {
    float: left;
    margin-left: 10px;

}
