body {
    line-height: 1.3;
}

.add-task {
    cursor: pointer;
}

#task{
     background: #fff;
     width: 770px;
     height: 1250px;
     float: left;
 }
.content{
    padding:21px 20px;
    position: relative;
    top: 0;
}
.title h3{
    width: 81px;
    height: 36px;
    border-bottom: 4px solid #f99d32;
    font-size: 15px;
    float: left;
}
.title{
    display: inline-block;
    padding-bottom: 15px;
}
.title .down{
    width: 649px;;
    height: 30px;
    margin-top: 6px;
    border-bottom: 4px solid #cccccc;
    float: right;
}
.seek .frame{
    margin-top: 15px;
}
.seek .frame input{
    width: 398px;
    height: 44px;
    border: 1px solid #f99d32;
    float: left;
    padding-left: 10px;
    font-size: 16px;
}
.seek .button input{
    background: #f99d32;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    color: #ffffff;
    cursor:pointer;
}
.seek .add-task {
    float: right;
    margin-right: 3px;
    width: 98px;
    height: 40px;
    border: 1px solid #f99d32;
    border-radius: 6px;
}

.seek .add-task p{
    line-height: 40px;
    padding-left: 10px;
    color: #f99d32;
}
.seek .add-task p img{
    margin-right: 6px;
    padding-bottom: 3px;
}

/*图书类型分类*/

.book{
    width: 728px;
    height: 1017px;
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
    margin-top: 15px;
    position: relative;
}
.book .sort{
    border-bottom: 1px dashed #d8d8d8;
    padding-bottom: 22px;
}
.book .sort p{
    font-weight: bold;
    font-size: 18px;
    float: left;
    margin-top: 25px;
    margin-left: 15px;
}
.book .sort span{
    width: 78px;
    height: 28px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #f99d32;
    border-radius: 6px;
    margin-top: 24px;
    margin-left: 14px;
    display: inline-block;
    cursor:pointer;
}
.index{
    color: #ffffff;
    background: #f99d32;
}
.book .grade p{
    font-weight: bold;
    font-size: 18px;
    float: left;
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 30px;
}
.book .grade span{
    padding: 0 14px ;
    height: 28px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #f99d32;
    border-radius: 6px;
    margin-top: 24px;
    margin-left: 8px;
    display: inline-block;
    cursor:pointer;
}
.book .grade {
    padding-bottom: 27px;
    border-bottom: 1px solid #e8e8e8;
}

/*图书列表部分*/
.list{
    margin-top:11px;
    float: left;
}
.list .list-book{
    margin-top:17px;
    margin-left: 14px;
    margin-right: 8px;
    position: relative;
    top: 0;
    box-shadow:2px 2px 2px #ccc;
}
.list .list-book .image {
    width: 156px;
    height: 300px;
    border: 1px solid #e8e8e8;
    padding: 18px 13px 30px 16px ;
    background: #ffffff;
}
.list .list-book .image img{
    width: 122px;
    height: 168px;
}
.list .list-book .image .end_time{
    font-size: 12px;
    text-align: center;
    position: absolute;
    top:3px;
    left: 20px;
}
.list .list-book .image .book-meta-info span {
    position: absolute;
    top: 159px;
    left: 91px;
    width: 48px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #f99d32;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
}
.list .list-book .book-name{
    text-align: center;
    margin-top: 9px;
    font-size: 13px;
    font-weight: bold;
    width: 120px;
    height: 60px;

    display: table-cell;
    vertical-align: middle;
}
.list .list-book .plan{
    position: absolute;
    top: 254px;
    left: 9px;
    font-size: 12px;
    width: 140px;
    color: #999999;
    text-align: center;
}
.list .list-book .progress-index{
    top: 245px;
}
.list .list-book .pages{
    position: absolute;
    top: 224px;
    left: 50px;
    font-size: 12px;
    color: #999999;
    width: 100px;
    text-align: right;
}
.list .list-book .reading .continue-read{
    width: 54px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background: #f99d32;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    top: 270px;
    left:6px;
    cursor:pointer;
}
.list .list-book .reading .appraisal{
    width: 54px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background: #f99d32;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    top: 270px;
    left:96px;
    cursor:pointer;
}
.appraisal .btn:hover {
    color: #ffffff;
}
.appraisal .btn,.appraisal .disabled {
    font-size: 12px;
    padding: 0;
}

.list .list-book .check p{
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    background: #f99d32;
    border-radius: 4px;
    font-size: 12px;
    position: absolute;
    top: 256px;
    left:28px;
    cursor:pointer;
}

.list .list-book .remove{
    display: none;
    position: absolute;
    top: 8px;
    left: 118px;
    cursor:pointer;
}

#book_list {
    height: 600px;
}
/*分页部分*/
.tcdPageCode {
    padding-top: 100px;
}























